{% extends 'base/base.html' %}
{% block title %}Home{% endblock title%}

{% block body %}
    <div class="container">
        <div class="card text-center w-50 p-5" style="margin: 20px auto auto auto;">
            <h1 class="text-center">Welcome to voting</h1>
            <a href="{% url 'core:index' %}" class="btn btn-outline-danger w-50 mx-auto" type="button">View all the polls avaliable</a>
        </div>
        <div>
            {% for question in question_list %}
                <a href="{{ question.get_absolute_url }}">
                    <div class="card text-center p-3" style="margin: 5px auto 5px auto;">
                        <div class="card-header">
                            <h3>{{ forloop.counter }}. {{ question.question_text }}</h3>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock body %}